<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-3940256099942544~1458002511</string>
    <key>SKAdNetworkItems</key>
    <array>
        <dict>
            <key>SKAdNetworkIdentifier</key>
            <string>cstr6suwn9.skadnetwork</string>
        </dict>
        <dict>
            <key>SKAdNetworkIdentifier</key>
            <string>3qcr597p9d.skadnetwork</string>
        </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Poppins-Bold.ttf</string>
        <string>Poppins-Light.ttf</string>
        <string>Poppins-Medium.ttf</string>
        <string>Poppins-Regular.ttf</string>
        <string>Poppins-SemiBold.ttf</string>
        <string>Roboto-Black.ttf</string>
        <string>Roboto-BlackItalic.ttf</string>
        <string>Roboto-Bold.ttf</string>
        <string>Roboto-BoldItalic.ttf</string>
        <string>Roboto-Italic.ttf</string>
        <string>Roboto-Light.ttf</string>
        <string>Roboto-LightItalic.ttf</string>
        <string>Roboto-Medium.ttf</string>
        <string>Roboto-MediumItalic.ttf</string>
        <string>Roboto-Regular.ttf</string>
        <string>Roboto-Thin.ttf</string>
        <string>Roboto-ThinItalic.ttf</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show the map.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location to show the map.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location to show the map.</string>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
        <key>LocationService</key>
        <string>We need your location to show the map.</string>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera for taking photos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to select photos.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to your photo library to save photos.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone for recording audio.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>We need access to Bluetooth to connect to devices.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>We need access to Bluetooth to connect to devices.</string>
</dict>
</plist>
